<nav class="navbar bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="bi bi-chat-dots"></i>
            &nbsp;Foro Dudas ITSCH
    1   </a>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col text-center">
            <div class="card mt-3">
                <div class="card-header">
                    Inicio de sesión
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-envelope-at"></i>
                        </div>
                        <input type="email" class="form-control" placeholder="Correo">
                    </div>
                    <div class="input-group mt-3">
                        <div class="input-group-text">
                            <i class="bi bi-key"></i>
                        </div>
                        <input type="password" class="form-control" placeholder="Contraseña">
                    </div>
                    <div class="card-footer">
                        <input type="button" class="btn btn-primary float-end" value="Entrar" (click)="login()">
                    </div>
                </div>
            </div>
            <input type="button" class="btn btn-link" value="Registarse">
        </div>
        <div class="col"></div>
    </div>
</div>